In [101]:
# Modified from
# source: https://www.bogotobogo.com/python/python-REST-API-Http-Requests-for-Humans-with-Flask.php
import requests

# copy your ngrok URL and use it here
url = 'https://8576-35-185-44-196.ngrok-free.app/'

# default behavior of ngrok webpage is to display a warning page
# let's bypass it using the following HTTP request header
header = {"ngrok-skip-browser-warning" : "1"}

In [102]:
# test get method
response = requests.get(url,headers=header)
response.json()

{'message': 'Simple ledger webapp is up and running!'}

In [103]:
# test get method with records URI
response = requests.get(url + "records", headers=header)
response.json()

{'records': [{'balance': 100, 'name': 'Joe'},
  {'balance': 200, 'name': 'Bill'},
  {'balance': 300, 'name': 'Mary'},
  {'balance': 400, 'name': 'Mark'}]}

In [104]:
# you can create json object and query data in it
jsonObj = response.json()
print(jsonObj)
print("=======================")
print(jsonObj['records'][0]['name'])
print("=======================")
print(jsonObj['records'][1]['balance'])

{'records': [{'balance': 100, 'name': 'Joe'}, {'balance': 200, 'name': 'Bill'}, {'balance': 300, 'name': 'Mary'}, {'balance': 400, 'name': 'Mark'}]}
=======================
Joe
=======================
200

In [105]:
# test records/<name> API
response = requests.get(url + "records/Mary",headers=header)
response.json()

{'balance': 300, 'name': 'Mary'}

In [106]:
# test post method
# crate a new json object and post
response = requests.post(url + "records",headers=header, json={"name":"Ted","balance":500})
response.json()

[{'balance': 100, 'name': 'Joe'},
 {'balance': 200, 'name': 'Bill'},
 {'balance': 300, 'name': 'Mary'},
 {'balance': 400, 'name': 'Mark'},
 {'balance': 500, 'name': 'Ted'}]

In [107]:
# update top record by replacing it with bottom record
response = requests.put(url + "records/Ted",headers=header, json={"name":"Ned","balance":600})
response.json()

[{'balance': 100, 'name': 'Joe'},
 {'balance': 200, 'name': 'Bill'},
 {'balance': 300, 'name': 'Mary'},
 {'balance': 400, 'name': 'Mark'},
 {'balance': 600, 'name': 'Ned'}]

In [108]:
# test delete API
response = requests.delete(url + "records/Ned", headers=header)
response.json()

[{'balance': 100, 'name': 'Joe'},
 {'balance': 200, 'name': 'Bill'},
 {'balance': 300, 'name': 'Mary'},
 {'balance': 400, 'name': 'Mark'}]

In [109]:
response = requests.put(url + "records/transaction",headers=header, json={"sender":"Mark","receiver":"Joe", "sent_amt":150})
response.json()

{'records': [{'balance': 250, 'name': 'Joe'},
  {'balance': 200, 'name': 'Bill'},
  {'balance': 300, 'name': 'Mary'},
  {'balance': 250, 'name': 'Mark'}]}